*{
    margin: 0;
}
@font-face {
    font-family: 'Circular Std';
    src: url('resources/fonts/CircularStd-Black.eot');
    src: local('resources/fonts/Circular Std Black'), local('CircularStd-Black'),
    url('resources/fonts/CircularStd-Black.eot?#iefix') format('embedded-opentype'),
    url('resources/fonts/CircularStd-Black.woff2') format('woff2'),
    url('resources/fonts/CircularStd-Black.woff') format('woff'),
    url('resources/fonts/CircularStd-Black.ttf') format('truetype');
    font-weight: 900;
    font-style: normal;
}

html{
    height: 100%;
}

body{
    display: flex;
    flex-direction: column;
    background: linear-gradient(180deg, #FFFFFF 0%, rgba(255, 255, 255, 0) 100%);
    max-height: 100%;
    max-width: 100%;
    justify-content: space-between;
}

div{
    display: flex;
}

.nav{
    display: flex;
    flex-wrap: nowrap;
    flex-direction: row;
    justify-content: space-around;
    margin-left: 55%;
}

.nav-items{
    height: 50px;
    font-family: Roboto;
    font-style: normal;
    font-weight: normal;
    font-size: 100%;
    line-height: 150%;
    padding: 0 9% 0 9%;
    display: flex;
    justify-content: center;
    align-items: center;

    text-align: center;
    letter-spacing: 0.02em;

    color: #1B0A42;

}

a{
    text-decoration: none;
    color: black;
}

a:hover {
    color: #9A9A9A;
    transition: 0.7s;
}

.main-content {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    flex-grow: 50;
    margin-top: 2%;
    margin-left: 25%;
    margin-right: 16%;
}

.content{
    display: flex;
    flex-direction: column;
    justify-content: center;
    min-width: 55%;
}

#title{
    font-family: Ramaraja;
    font-style: normal;
    font-weight: normal;
    font-size: 450%;
    line-height: 106%;
    margin: 0 0 1% 0;

    letter-spacing: 0.02em;

    color: #1B0A42;
}

#content{
    font-family: Roboto;
    font-style: normal;
    font-weight: 400;
    font-size: 125%;
    line-height: 160%;
    letter-spacing: 0.02em;
    color: #9A9A9A;
    margin: 0 0 8% 0;
    text-align: left;
}
.buttons{
    display: flex;
    flex-wrap: nowrap;
    flex-direction: row;
    justify-content: flex-end;

}
.log-buttons{
    width: 120px;
    height: 59.65px;
    margin-left: 2%;
    cursor: pointer;
}
#learn-more-button{
    width: 152px;
    height: 63.82px;
    cursor: pointer;
}
.active-buttons{
    background: #33A2E0;
    border-radius: 6px;
    border-color: transparent;

    font-family: Roboto;
    font-style: normal;
    font-weight: bold;
    font-size: 100%;
    line-height: 150%;

    text-align: center;
    letter-spacing: 0.02em;

    color: #FFFFFF;
}

.no-active-buttons{
    background: transparent;
    border: none;

    font-family: Roboto;
    font-style: normal;
    font-weight: normal;
    font-size: 100%;
    line-height: 150%;

    text-align: center;
    letter-spacing: 0.02em;

    color: #1B0A42;
}
#image {
    display: flex;
    flex-grow: 1;
    flex-shrink: 2;
    max-width: 100%;
    height: auto;
}
img{
    justify-content: center;
    align-items: center;
}
#logo{
    left: 20%;
    top: 15%;

    font-family: Circular Std;
    font-style: normal;
    font-weight: 900;
    font-size: 187.5%;
    line-height: 160%;

    letter-spacing: -0.02em;

    color: #0A1B32;
}

span{
    color:#33A2E0;
}

.header{
    /*padding: 30px 65px 10px 80px;*/
    padding: 2.2% 5% 2% 5%;
    max-width: 100%;
    display: flex;
    flex-wrap: nowrap;
    justify-content: space-between;
    flex-grow: 0;
    flex-shrink: 1;
}

#footer {
    height: 10%;
    background: transparent;
    flex-grow: 0;
    flex-shrink: 0;
    flex-basis: auto;
    color: transparent;
}

.no-active-buttons:hover {
    background: #cbd6ee;
    border-radius: 6px;
    border-color: transparent;

}

@media screen and (min-width: 320px) and (max-width: 1024px) and (orientation : portrait){
    .header {
        margin-left: 0%;
    }
    .menu{
        flex-direction: column;
        justify-content: left;
    }
    .nav{
        margin-left: 0%;
        justify-content: space-between;
    }
    .nav-items{
        justify-content: space-between;
        text-align: left;
        margin-left: 0%;
    }
    .main-content{
        flex-direction: column;
        margin-left: 9%;
        justify-content: left;
    }
    #content{
        margin-bottom: 5%;
    }
    #learn-more-button{
        margin: 0 0 5% 0;
    }
}

@media screen and (min-width: 320px) and (max-width: 1024px) and (orientation : portrait){

}
